EXPO_PUBLIC_SUPABASE_URL=https://ljpsgqfxdpltmjrztzpn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_LJ4r4orRWkIrRB_fCgpVYw_7zxHUZQi
EXPO_PUBLIC_EXPO_PROJECT_ID=your-eas-project-id
EXPO_PUBLIC_REVENUECAT_PUBLIC_SDK_KEY=appl_or_rcb_your_revenuecat_public_sdk_key
